/* styles */

.bounded {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 12px;
  line-height: 24px;
}

.input {
  appearance: none;
  width: 110px;
  border-radius: 0;
  border: none;
  background-color: var(--white);
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  padding: 0 6px;
  margin-right: 1px;
  transition: box-shadow 0.15s linear;

  &:focus {
    box-shadow: inset 0 0 5px var(--green5);
  }

  &.error {
    box-shadow: inset 0 0 5px var(--red5);
  }
}

.button {
  border: 0;
  padding: 6px;
  background-color: var(--neutral3);
  color: var(--white);
  transition: background 0.15s linear;
  cursor: pointer;
  margin-right: 1px;
  font-size: 20px;
  width: 55px;
  text-align: center;

  &:first-child {
    border-radius: 36px 0 0 36px;
    padding-left: 12px;
  }

  &:last-child {
    border-radius: 0 36px 36px 0;
    padding-right: 12px;
    margin-right: 0;
  }

  &:hover {
    background-color: var(--neutral3);
  }

  &:disabled {
    cursor: auto;
  }
}

.green {
  background-color: var(--green3);

  &:hover {
    background-color: var(--green4);
  }
}

.blue {
  background-color: var(--blue3);

  &:hover {
    background-color: var(--blue4);
  }
}

.red {
  background-color: var(--red3);

  &:hover {
    background-color: var(--red4);
  }
}
