/* styles */

.AppFooter {
  user-select: none;
  overflow: hidden;
  height: 48px;
  line-height: 48px;
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--black);
  color: var(--white);
  transition: background 0.15s linear;
  box-shadow: 0 0 10px var(--dark3);
  position: relative;
  z-index: 100;
  align-items: center;

  & a {
    color: var(--white);
    display: block;
    text-decoration: none;
    transition: color 0.15s linear;

    &:hover {
      color: var(--green5);
    }
  }
}
