/* styles */

.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.header {
  flex: 0 0 auto;
}

.footer {
  flex: 0 0 auto;
}
